body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
}

#header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    background: #118eea;
    z-index: 99;
}

#header .title {
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

.left, .right{
    margin: auto 15px;
    color: #fff
}

.exit, .alert {
    width: 100%;
    height: 100%;
    border: 0;
    color: #fff;
    outline: none;
    background: none;
}

.alert svg {
    transform: rotate(45deg);
}

.camera {
    width: 100%;
}

.camera video {
    /* width: 100%;
    height: 100%; */
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 80%;
}

.menu {
    overflow: hidden;
    /* background-color: #333; */
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 97;
}

.wifi {
    margin: auto;
    width: 100%;
    display: flex;
}

.wifi img {
    width: 60px;
    margin: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

img {
    width: 30px;
    margin: auto;
}

.row {
    padding: 5%;
    border-radius: 20px 20px 0 0;
    width: 90%;
    margin: auto;
    background: #fff;
}

h3 {
    margin: auto;
    margin-bottom: 10px;
}

.button {
    width: 100%;
    display: flex;
}

.btn {
    width: 48%;
    height: 50px;
    margin: auto;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    background: #fff;
    font-weight: bold;
    display: flex;
}

.btn:nth-child(1) {
    margin-left: 0;
}

.btn:nth-child(2) {
    margin-right: 0;
}

.btn .title {
    margin: auto;
    margin-left: 0;
}

#footer {
    padding-top: 6px;
    height: 24px;
    background: rgb(226, 226, 226);
    text-align: center;
}

#footer a {
    color: #118eea;
    text-decoration: none;
    font-weight: bold;
    text-shadow: none;
}
